{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>Dashboard</title>
</head>

<body>
    <nav class="border -b border-gray-800">
        <div class="max-w-6xl mxx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
            <div class="menu-left flex items-center space-x-6">
                <a href="" class="py-4 text-lg text-purple-500 font-semibold"> Siscap CRM</a>
                <ul class="flex items-center space-x-4 ">
                    <li><a href="">Shop</a></li>
                    <li><a href="">Shop</a></li>

                </ul>
            </div>
            <div class="menu-right flex items-center space-x-4 ">
                <a href=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="size-6">
                        <path fill-rule="evenodd"
                            d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                            clip-rule="evenodd" />
                    </svg>

                </a>
                <a href=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="size-6">
                        <path
                            d="M2.25 2.25a.75.75 0 0 0 0 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 0 0-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 0 0 0-1.5H5.378A2.25 2.25 0 0 1 7.5 15h11.218a.75.75 0 0 0 .674-.421 60.358 60.358 0 0 0 2.96-7.228.75.75 0 0 0-.525-.965A60.864 60.864 0 0 0 5.68 4.509l-.232-.867A1.875 1.875 0 0 0 3.636 2.25H2.25ZM3.75 20.25a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0ZM16.5 20.25a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Z" />
                    </svg>

                </a>
            </div>

        </div>
    </nav>
    <main>
        <!-- <header class="px-6 py-10 lg lg:py-10 bg-purple-500 " >
            <div class="max-w-3xl mx-auto text-center " > </div>
            <p class="mb-2 text-3xl lg:text-5xl text-white " >Bienvenido a Siscap CRM</p>
            <p class="mb-10 text-white" > we sell furtines</p>
            <a href="" class="inline-block px-8 py-4 rounded-xl bg-white text-purple-500 hover:border-gray-100 " >Navegar</a>
        </header> -->

        
        {% block content  %}
        {% endblock %}
    </main>
    <footer class="bg-gray-100">
        <div class="max-w-6xl mxx-auto py-10 px-6 xl:px-0 mf:flex justify-between">
            <div class="footer-left mb-12 mb:mb-0">
                <h2 class="mb-5 uppercase text-lg">Acerca</h2>
                <p class="text-gray-700"> lrem balal</p>
            </div>
            <div class="footer-right">
                <h2 class="mb-5 uppercase text-lg">Social</h2>
                <ul class="space-y-2">
                    <li class=""> <a href="" class="text-purple-500 hover:text-purple-800  ">facebook</a> </li>
                    <li class=""> <a href="" class="text-purple-500 hover:text-purple-800  ">facebook</a> </li>
                    <li class=""> <a href="" class="text-purple-500 hover:text-purple-800  ">facebook</a> </li>

                </ul>
            </div>

        </div>
    </footer>

    <h1>Este es mi Dashboard
    </h1>

</body>

</html>